<html>
    <head>
        <title>Hello</title>
        <%- include("layouts/header.ejs") %>
    </head>
    <body>
        <%- include("layouts/nav1.ejs") %>
        
        <%- include("layouts/category-banner.ejs") %>

        <%- include("layouts/products-campaign.ejs") %>

        <%- include("layouts/scripts.ejs") %>
    </body>
</html>